# Compiled output
/target/

# Rust/Cargo specific files
**/*.rs.bk
**/Cargo.lock

# Dependencies
.cargo/
/.cargo/
pkg/

# Backup files
*.bak
*.rs.bk
*.swo
*.swp
*.tmp

# Other common files
.DS_Store
Thumbs.db

# IDE/editor specific settings
.idea/
*.log
*.out
/.vscode/
/*.iml

# Binaries
*.app
*.dll
*.dylib
*.exe
*.out
*.so


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
